[submodule "icepack"]
	path = icepack
	url = https://github.com/NorESMhub/Icepack
	fxtag = noresm_cesm3_cice_20250609_v0
	fxrequired = AlwaysRequired
	fxDONOTUSEurl = https://github.com/ESCOMP/Icepack
